# Outliers Detection

The goal of our analysis is to create an algorithm to find outliers in financial data. Outliers will represent members with unusually high costs in the current month.

## Table of Contents
1. [Introduction](#outliers-detection)
2. [Import Libraries and Load Data](#import-libraries-and-load-data)
3. [Exploratory Data Analysis](#exploratory-data-analysis)
4. [Outlier Detection](#outliers-detection)
5. [Results](#results)

# Import Libraries and Load Data

Before getting started, we will load the dataset and have it prepared for analysis. We will import necessary libraries as well as load the dataset as a dataframe.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset into a dataframe
customers = pd.read_csv('../data/raw/sfr_test.csv')

# Exploratory Data Analysis

Now that our data is loaded and ready for analysis, we can explore our dataset, clean our data, and gain insight on our data by visualizing important statistics.

## Understanding the Data

In [24]:
# explore the data

# Display a summary of the DataFrame, including column name, non-null values, and their data types
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10530 entries, 0 to 10529
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   member_unique_id     10530 non-null  int64
 1   gender               10530 non-null  object
 2   dob                  10530 non-null  object
 3   eligible_year        10530 non-null  int64
 4   eligible_month       10530 non-null  int64
 5   affiliation_type     10530 non-null  object
 6   pbp_group            10530 non-null  object
 7   plan_name            6606 non-null   object
 8   npi                  10530 non-null  int64
 9   line_of_business     10530 non-null  object
 10  esrd                 10530 non-null  bool
 11  hospice              10530 non-null  bool
 12  ipa_funding          10530 non-null  object
 13  ma_premium           10530 non-null  object
 14  ma_risk_score        10530 non-null  object
 15  mbr_with_rx_rebates  10530 non-null  object
 16  partd_premium        10530 non-null  object
 17  pcp_cap              10530 non-null  object
 18  pcp_ffs              10530 non-null  object
 19  plan_premium         10530 non-null  object
 20  prof                 10530 non-null  object
 21  reinsurance          10530 non-null  object
 22  risk_score_partd     10530 non-null  object
 23  rx                   10530 non-null  object
 24  rx_rebates           10530 non-null  object
 25  rx_with_rebates      10530 non-null  object
 26  rx_without_rebates   10530 non-null  object
 27  spec_cap             10530 non-null  object
dtypes: bool(2), int64(4), object(22)
memory usage: 2.1+ MB

In [ ]:
# Return the number of rows and columns in the DataFrame
print('\nThe number of rows and columns in the DataFrame: ', customers.shape)

In [ ]:
# List the column labels as an index object
print('\nList the column labels as an index object: \n', customers.columns)

In [ ]:
# Return a statistical summary of the DataFrame
print('\nStatistical summary of the DataFrame: \n', customers.describe())

In [ ]:
# Ways to select data

# .head(n): Grabs the first n rows in the dataframe
print(customers.head(1))

# .tail(n): Grab the bottom n rows in the dataframe
print(customers.tail(2))

In [ ]:

# iloc[row_position, column_position]: Row (and optional Column) 
# Selection based on their row index and column index.

# loc[row_name, column_name]: Row (and optional Column) 
# Selection based on their index label (and column name).

# Grabs the value at row index 10 and column index 2 (dob)
print(customers.iloc[10,2])
print(customers.loc[10, 'dob'])

## Data Cleaning

In [32]:
# any missing values? any incorrect data types?
# Returns True if any value in the series is null
print(customers.columns[customers.isna().any()])

# Drop the rows where their "plan_name" is null
customers[customers["plan_name"].isna()]

Index(['plan_name'], dtype='object')

,member_unique_id,gender,dob,eligible_year,eligible_month,affiliation_type,pbp_group,plan_name,npi,line_of_business,...,pcp_ffs,plan_premium,prof,reinsurance,risk_score_partd,rx,rx_rebates,rx_with_rebates,rx_without_rebates,spec_cap
1,2,M,02/01/1948,2020,202006,Affiliate,NON-SNP,NaN,1,HMO,...,$0.00,"$6,204.84",$0.00,$8.13,$0.00,"$11,289.69",$0.00,"$10,688.46","$10,859.82",$906.77
4,5,M,31/12/1953,2020,202006,Affiliate,NON-SNP,NaN,1,HMO,...,$0.00,"$19,976.13","$8,875.80",$8.90,$0.00,$522.48,$0.00,$517.56,$606.01,$867.55
8,9,F,22/07/1949,2020,202006,Affiliate,NON-SNP,NaN,1,HMO,...,$0.00,"$12,942.04",$0.00,$8.32,$0.00,$0.00,$0.00,$0.00,$0.00,$823.63
10,11,F,01/01/1951,2020,202006,Affiliate,NON-SNP,NaN,1,HMO,...,$0.00,"$6,788.10",$0.00,$8.44,$0.00,$0.00,$0.00,$0.00,$0.00,$836.41
16,17,M,20/05/1953,2020,202006,Affiliate,NON-SNP,NaN,1,HMO,...,$0.00,"$9,071.13",$0.00,$9.19,$0.00,$145.61,$0.00,$146.34,$140.15,$786.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10521,10522,M,19/04/1962,2020,202006,SaludVIP,NON-SNP,NaN,93,HMO,...,$0.00,"$11,868.16",$0.00,$8.18,$0.00,$679.59,$0.00,$707.11,$672.21,$875.47
10524,10525,F,04/09/1955,2020,202006,SaludVIP,NON-SNP,NaN,93,HMO,...,$0.00,"$28,682.90",$0.00,$9.36,$0.00,$387.05,$0.00,$335.54,$362.33,$923.96
10525,10526,F,07/04/1954,2020,202006,SaludVIP,NON-SNP,NaN,93,HMO,...,$0.00,"$5,097.30",$0.00,$8.94,$0.00,$317.71,$0.00,$292.58,$279.22,$989.74
10526,10527,F,08/12/1945,2020,202006,SaludVIP,NON-SNP,NaN,93,HMO,...,$0.00,"$11,278.18",$0.00,$8.93,$0.00,$238.86,$0.00,$234.95,$248.51,"$1,002.72"
10529,10530,M,27/08/1988,2020,202006,SaludVIP,D-SNP,NaN,93,HMO,...,$0.00,"$6,218.16",$0.00,$8.91,$0.00,$0.00,$0.00,$0.00,$0.00,$933.36

In [38]:
# "If you find a null value, drop the rows that contains the null value"
non_null_plan_data = customers.dropna(axis = 0) 
non_null_plan_data.head()

,member_unique_id,gender,dob,eligible_year,eligible_month,affiliation_type,pbp_group,plan_name,npi,line_of_business,...,pcp_ffs,plan_premium,prof,reinsurance,risk_score_partd,rx,rx_rebates,rx_with_rebates,rx_without_rebates,spec_cap
0,1,F,21/06/1990,2020,202006,Affiliate,NON-SNP,MEDICARE - CAREFREE,1,HMO,...,$0.00,"$3,507.00",$0.00,$7.92,$0.00,$0.00,$0.00,$0.00,$0.00,$843.78
2,3,M,14/06/1948,2020,202006,Affiliate,NON-SNP,MEDICARE - CAREFREE,1,HMO,...,$0.00,"$4,012.46",$0.00,$7.92,$0.00,$0.00,$0.00,$0.00,$0.00,$815.84
3,4,M,10/02/1954,2020,202006,Affiliate,D-SNP,MEDICARE - CARENEEDS,1,HMO,...,$0.00,"$9,770.61",$0.00,$8.30,$0.00,$73.88,$0.00,$62.87,$64.91,$846.26
5,6,M,06/05/1954,2020,202006,Affiliate,D-SNP,MEDICARE - CARENEEDS,1,HMO,...,$0.00,"$10,034.33",$0.00,$9.10,$0.00,$0.00,$0.00,$0.00,$0.00,$823.63
6,7,F,01/01/1954,2020,202006,Affiliate,NON-SNP,MEDICARE - CAREFREE,1,HMO,...,$0.00,"$3,227.26",$0.00,$8.20,$0.00,$0.00,$0.00,$0.00,$0.00,$786.81

# Outlier Detection

# Results